<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Index Page</title>
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
</head>
<body>
<div class="container">
	<p>
		Hello, click <a th:href="@{/welcome}" class="btn btn-link">Welcome</a> to accept your greetings.
	</p>
</div>
</body>
</html>